.clear {
    clear: both;
}

.box {
    
    color: #777;

    div {
        float: left;
    }

    .win-loss {
        border: 1px solid #EEE;
    }

    .heading {
        .col1 {
            border-bottom: 1px solid #EEE;
            background: #bdc3c7;
        }
    }
    
    .col1 {
        width: 75px;
    }

    .col3 {
        width: 194px;
    }

    .colh {
        width: 90px;
    }

    .col1, .col3, .colh {
        background: #ecf0f1;
        padding: 5px 0 5px 10px;
    }
}